# ignore all root items
/*

# unignore folders AND their contents
!temoa/**
!tests/**
!docs/**
!data_files/**
!notebooks/**
!output_files/**
!.github/**

# unignore files in the root
!.gitignore
!README.md
!pyproject.toml
!uv.lock
!requirements*.txt
!LICENSE.txt
!CHANGELOG.md
!CONTRIBUTING.md
!.pre-commit-config.yaml

# recursively re-ignore
**__pycache__/

# ignore built docs
docs/_build/